<a class="com-no-underline" [routerLink]="['/communities', hackathon.community?.slug, 'hackathons', hackathon.slug]">
  <com-card class="participation-card">
    <!-- Banner -->
    <div class="card-banner">
      <img *ngIf="hackathon.banner_image?.url" [src]="hackathon.banner_image.url" [alt]="hackathon.name" />
      <div *ngIf="!hackathon.banner_image?.url" class="card-banner-placeholder">
        <fa-icon [icon]="faCode"></fa-icon>
      </div>
    </div>

    <!-- Content -->
    <div class="card-content">
      <h4 class="card-title">{{ hackathon.name }}</h4>

      <div class="card-meta">
        <span *ngIf="hackathon.start_date" class="meta-item">
          <fa-icon [icon]="faCalendarAlt"></fa-icon>
          {{ hackathon.start_date | date : 'MMM yyyy' }}
        </span>
        <div *ngIf="hackathon.community" class="community-badge">
          <app-community-badge [community]="hackathon.community" [size]="'small'"></app-community-badge>
        </div>
      </div>
    </div>
  </com-card>
</a>
