.bottom-sheet-overlay {
  @apply com-fixed com-inset-0 com-bottom-[56px] com-z-50 com-flex com-items-end;
  background-color: rgba(54, 68, 85, 0.4);
  animation: fadeIn 0.3s ease-out;
}

.bottom-sheet {
  @apply com-bg-white com-rounded-t-xl com-overflow-y-auto com-max-h-[90dvh] com-min-h-[40dvh] com-w-full;
  animation: slideUp 0.4s cubic-bezier(0.32, 0.72, 0, 1);
}

hr {
  @apply com-border-t-3 com-border-gray-200 com-my-4 com-w-36 com-flex-shrink-0 com-rounded-sm com-cursor-pointer;
}

@keyframes slideUp {
  from {
    transform: translateY(100%);
  }

  to {
    transform: translateY(0);
  }
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}
