<nb-card *ngIf="!isLoading && hackathons.length > 0" id="hackathons">
  <nb-card-header>
    <a [routerLink]="'.'" fragment="hackathons">
      <fa-icon [icon]="icons.faTrophy" class="com-text-primary-500"></fa-icon>
      Hackathons
      <span>({{ hackathons.length }})</span>
    </a>
  </nb-card-header>
  <nb-card-body>
    <div class="grid">
      <commudle-user-hackathon-role-card
        *ngFor="let entry of hackathons"
        [hackathon]="entry.hackathon"
        [roleLabel]="entry.roles.includes('winner') ? 'Winner' : 'Participant'"
        [roleIcon]="entry.roles.includes('winner') ? icons.faTrophy : null"
        [roleKey]="entry.roles.includes('winner') ? 'winner' : 'participant'"
        [prizes]="entry.prizes"
      ></commudle-user-hackathon-role-card>
    </div>
  </nb-card-body>
</nb-card>
