<nb-card *ngIf="!isLoading && wonHackathons.length > 0" id="hackathons-won">
  <nb-card-header>
    <a [routerLink]="'.'" fragment="hackathons-won">
      <fa-icon [icon]="faTrophy" class="com-text-Chrome-Yellow"></fa-icon>
      Hackathons Won
      <span>({{ wonHackathons.length }})</span>
    </a>
  </nb-card-header>
  <nb-card-body>
    <div class="grid">
      <app-user-hackathon-winner-card
        *ngFor="let item of wonHackathons"
        [hackathon]="item.hackathon"
        [prizes]="item.prizes"
      ></app-user-hackathon-winner-card>
    </div>
  </nb-card-body>
</nb-card>
