<nb-card *ngIf="!isLoading && hackathons.length > 0" id="hackathons-participated">
  <nb-card-header>
    <a [routerLink]="'.'" fragment="hackathons-participated">
      <fa-icon [icon]="faCode" class="com-text-primary-500"></fa-icon>
      Hackathons
      <span>({{ hackathons.length }})</span>
    </a>
  </nb-card-header>
  <nb-card-body>
    <div class="grid">
      <app-user-hackathon-participation-card
        *ngFor="let hackathon of hackathons"
        [hackathon]="hackathon"
      ></app-user-hackathon-participation-card>
    </div>
  </nb-card-body>
</nb-card>
