<nb-card id="team">
  <nb-card-header>
    <h6 class="title">
      <a [routerLink]="'.'" fragment="team"><nb-icon icon="headphones-outline" status="basic"></nb-icon>Team</a>
    </h6>
  </nb-card-header>
  <nb-card-body>
    <app-loading-spinner *ngIf="isLoading"></app-loading-spinner>

    <div class="volunteers">
      <com-card *ngFor="let user of volunteers" class="volunteer-card">
        <com-card-body>
          <app-user-profile-card-large [user]="user" [showRoleDesignation]="true"></app-user-profile-card-large>
        </com-card-body>
      </com-card>
    </div>
  </nb-card-body>
  <nb-card-footer *ngIf="pageInfo && pageInfo.has_next_page" (click)="getVolunteers()" class="com-cursor-pointer">
    <div>
      View More
      <nb-icon icon="arrow-ios-downward-outline"></nb-icon>
    </div>
  </nb-card-footer>
</nb-card>
