<div class="community-events">
  <com-card *ngIf="upcomingEvents.length >= 1" class="events-section-card com-mt-4">
    <com-card-body class="body-container com-p-0 md:com-p-6">
      <section class="upcoming-events-section">
        <h2 class="heading com-text-tYankees-Blue">
          <div class="heading-btn"><fa-icon [icon]="faCalendarDays"></fa-icon></div>
          <span class="live-dot" aria-hidden="true"></span>
          Upcoming Events
        </h2>
        <div class="upcoming-events-container">
          <div *ngFor="let event of upcomingEvents" class="upcoming-event-card-wrapper">
            <commudle-event-horizontal-card
              [event]="event"
              [headerImageWidth]="'434px'"
              [showCounterTimings]="true"
              [hostCommunity]="community"
              [hideCommunityBadge]="true"
              [hideTags]="true"
              [showRegisterButton]="true"
              [showEventType]="true"
              [showInterestedBadgeWithName]="false"
              [showLocation]="true"
            ></commudle-event-horizontal-card>
          </div>
        </div>
      </section>
    </com-card-body>
  </com-card>

  <div *ngIf="isLoading">
    <app-loading-spinner></app-loading-spinner>
  </div>

  <com-card *ngIf="pastEvents.length >= 1" class="events-section-card px-4">
    <com-card-body class="body-container com-p-4 md:com-p-6">
      <section class="past-events">
        <h2 class="heading">
          <div class="heading-btn com-px-4 com-py-2 com-text-Yankees-Blue">
            <fa-icon [icon]="faCalendarCheck"></fa-icon>
          </div>
          Past Events
        </h2>
        <div *ngIf="isLoadingPastEvents">
          <app-loading-spinner></app-loading-spinner>
        </div>
        <div *ngIf="!isLoadingPastEvents" class="past-events-container">
          <div *ngFor="let event of pastEvents" class="past-event-card-wrapper">
            <commudle-event-card
              [event]="event"
              [hideCommunityNameBadge]="true"
              [showCollaborationTag]="true"
              [hostCommunity]="community"
            ></commudle-event-card>
          </div>
        </div>
        <app-pagination
          (goTo)="onPastEventsPageChange($event)"
          (next)="onPastEventsPageChange($event)"
          (previous)="onPastEventsPageChange($event)"
          *ngIf="total > 0"
          [count]="count"
          [current]="page"
          [total]="total"
        ></app-pagination>
      </section>
    </com-card-body>
  </com-card>
</div>
